.xoxo{
  display: flex;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

img{
  width: 1rem;
  height: 1rem;
}
ul{
  list-style: none;
}

li{
  display: inline-block;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}






