
:root {
  font-size: 16px;
}

body{
  background: transparent linear-gradient(0deg, #6ED4FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  font-size: 1rem; 
  min-height: 100vh;
  overflow: hidden;
}

.container{
  width: 80%;
  height: 70vh;
  margin: 8.33rem 8.19rem 5rem 11.69rem;
  display: flex;
  justify-content: space-between;
}


.left-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3.75rem; 
  width: 30%;
}

h1{
  padding-bottom: 0.31rem;
  margin: 0;
  padding: 0;
  color: #5C5C5C;
  font-size: 2rem;
  font-weight: 700;
}

.left-container p{
  margin: 0;
  color: #5C5C5C;
}


.left-p-1st{
  font-size: 1rem;
  padding-top: 1.25rem;
}

.left-h1-2nd{
  font-size: 1.875rem;
  width: 12.5rem;
  font-weight: 600;
}

.left-p-2nd{
  font-size: 0.75rem;
  padding-top: 2.5rem;
  padding-bottom: 0.625rem;
}
.left-btn{
margin: 0.5rem 0;
}


.right-container{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.875rem; 
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.563rem;
  padding: 2rem;
}

.right-first-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0.625rem 0.625rem 0.625rem;
}

.right-first-div h2{
  margin: 0;
  padding: 0.188rem;
  font-size: 1.875rem;
  letter-spacing: 0.031rem;
  font-weight: 700;
  color: #000000;
}

.right-first-div p{
  margin: 0;
  padding: 0.188rem 0.188rem 2.5rem 0.188rem;
  color:#808080;
  font-weight: 600;
  font-size: 1rem;

}

.form-grid-block{

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.563rem;
    padding-bottom: 1.875rem;
}

input{
  border-top: none;
  border-bottom: 0.063rem solid #ccc;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  color: #5C5C5C;
  padding-bottom: 0.3rem ;
  }
  
  input:focus{
  outline: none;
  border-bottom: 0.125rem solid #278DF1;
  }
  
  input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.063rem solid #77838F;
  outline: none;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  }
  
  input[type="checkbox"]:checked{
  background-color: #278DF1;
  }
  
  input[type="checkbox"]:checked::before{
  content: '\2713';
  display: block;
  color: #ffffff;
  text-align: center;
  line-height: 1.25rem;
  font-size: 1rem;
  }

  
  button{
    display: flex;
    margin: 1rem auto 0 auto;
    border-radius: 1.25rem;
    background-color: #278DF1;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1.25rem;
    cursor: pointer;
    padding: 0.4rem 3rem;
  }
  
  button:hover{
  background-color: #3B9FFF;
  }


  
  
  @media(max-width: 600px){
    body{
      padding: 0px;
      margin: 0px;
    }
  .container{
  flex-direction: column;
  position: fixed;
  margin: 5rem 2.5rem;
  width: 80%;
  height: 100vh;
  padding: none;
  align-items: center;
  }
  
  .left-container{
  margin: 0;
  width: 100%;
  }
  
  .left-h1-2nd{
  font-size: 1.5rem;
  width: 100%;
  }
  
  .right-container{
  margin: 1.875rem 0;
  width: 100%;
  }
  }

  .left-link{
    text-decoration: none;
  }
  .left-link button{
    padding: 0.4rem 3rem;
  }
